header:has(#explore-button) {
	display: flex;
	flex-direction: column;
}

header:has(#explore-button).active {
	width: 100vw;
	position: fixed;
	z-index: 2;
}

body:has(header.active) main {
	display: none;
}

/*
MAIN MENU
------------------------------------------------------------------
*/
header:has(#explore-button) nav:first-of-type {
	padding: 1rem 1.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: var(--background-inverse);

	button[role="search"] {
		background: none;
		border: none;
	}

	& > img {
		width: 3.75rem;
	}

	button img {
		width: 1.5rem;
		height: 1.5rem;
	}
}

/*
SUBMENU
------------------------------------------------------------------
*/
header:has(#explore-button) nav[aria-label^="sub"] {
	display: none;
	
	&,
	a {
		color: var(--text-inverse);
	}
	
	section {
		width: 100vw;
		min-height: 100%;
		padding: 1rem 1.5rem;
		overflow-y: scroll;
	}

	hr {
		border: 0.5px solid var(--gray-accent);
		margin: 2rem 0;
	}

	section h2 {
		margin-bottom: 2rem;
	}

	section ul {
		display: flex;
		flex-direction: column;
		gap: 1rem;

		li button {
			display: flex;
			padding: 0.3rem 0;
			width: 100%;
			background: none;
			border: none;
			color: var(--text-inverse);
			align-items: center;
			font-size: var(--s-font-size--paragraph);
			line-height: var(--s-line-height--paragraph);
		}

		li button:hover {
			text-decoration-line: underline;
			text-decoration-style: dashed;
		}

		li button::after {
			margin-left: auto;
			content: "";
			width: 0.5rem;
			height: 0.5rem;
			border-right: 2px solid var(--text-inverse);
			border-bottom: 2px solid var(--text-inverse);
			rotate: -45deg;
		}
	}

	ul:first-of-type li:first-of-type button {
		text-decoration-line: underline;
		text-decoration-style: dashed;
	}
}

header:has(#explore-button).active nav[aria-label^="sub"] {
	display: flex;
	flex-direction: row;
	position: absolute;
	top: 100%;
	z-index: 2;
	width: fit-content;
	height: 100dvh;
	background-color: var(--background-inverse);
	transition: 400ms;

	@media (prefers-reduced-motion) {
		transition: none;
	}
}

header:has(#explore-button) nav[aria-label^="sub"].open {
	transform: translateX(-100vw);
}

/*
TAB
------------------------------------------------------------------
*/
header:has(#explore-button) nav[aria-label^="sub"] section:nth-of-type(2) {
	display: flex;
	flex-direction: column;

	button:has(+ hr) {
		display: flex;
		padding: 0.3rem 0;
		width: 100%;
		background: none;
		border: none;
		color: var(--text-inverse);
		align-items: center;
		font-size: var(--s-font-size--h4);
		line-height: var(--s-line-height--h4);

		&:hover {
			text-decoration-line: underline;
			text-decoration-style: dashed;
		}

		&::before {
			margin-right: 1rem;
			content: "";
			width: 0.5rem;
			height: 0.5rem;
			border-right: 2px solid var(--text-inverse);
			border-bottom: 2px solid var(--text-inverse);
			rotate: 135deg;
		}
	}
	
	label {
		line-height: var(--s-line-height--paragraph);
		font-size: var(--s-font-size--paragraph);
		font-family: var(--font-primary);
		margin-bottom: 0.3rem;
	}

	input:not([type="checkbox"]) {
		width: 100%;
	}

	input[type="checkbox"] {
		width: 1.5rem;
		height: 1.5rem;
	}

	input, button {
		margin-bottom: 1.5rem;
	}
}

/*
MENU BUTTON
------------------------------------------------------------------
*/
#explore-button {
	position: relative;
	display: flex;
	flex-direction: column;
	border: none;
	gap: 0.35rem;
	background: none;

	span {
		width: 1.7rem;
		height: 3px;
		background: var(--background);
		transition: 400ms ease;
	}

	/*
	DESKTOP MEDIA QUERY
	------------------------------------------------------------------
	*/
	@media screen and (min-width: 992px) {
		& {
			flex-direction: row;
			align-items: center;
		}

		&::before {
			content: "Explore";
			width: fit-content;
			height: fit-content;
			color: var(--text-inverse);
			font-size: var(--font-size--nav);
			line-height: var(--line-height--nav);
			font-weight: 800;
		}

		&::after {
			content: "";
			border: 1px solid var(--text-inverse);
			width: 0.9rem;
			height: 0.9rem;
			border-radius: 0.9rem;
			margin-left: 1rem;
		}

		& span {
			display: none;
		}
	}
}

header:has(#explore-button).active {
	#explore-button {
		span:nth-of-type(2) {
			opacity: 0;
		}

		span:nth-of-type(1),
		span:nth-of-type(3) {
			position: absolute;
			margin-left: auto;
			margin-right: auto;
			left: 0;
			right: 0;
			width: 1.7rem;
		}

		span:nth-of-type(1) {
			rotate: 135deg;
		}

		span:nth-of-type(3) {
			rotate: -135deg;
		}
	}
}
