@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");

body,
html {
	height: 100%;
	overflow-x: hidden;
}

body {
	color: var(--text);
	background: var(--background);

	h1,
	h2,
	h3,
	h4,
	p,
	button,
	a,
	input {
		font-family: var(--font-primary);
	}

	#screen-reader-text {
		position: absolute;
		left: -9999px;
		z-index: 999;
		padding: 1em;
		background-color: black;
		color: white;
		opacity: 0;

		&:focus {
			left: 50%;
			transform: translateX(-50%);
			opacity: 1;
		}
	}

	a,
	button,
	input[type="submit"] {
		text-decoration: none;
		cursor: pointer;
		color: var(--text);
		background: none;
		border: none;
	}

	a {
		display: flex;
		align-items: center;
		font-weight: bold;

		& > img[alt=""] {
			margin-left: 0.5rem;
			rotate: -45deg;
		}
	}

	h1 {
		font-size: var(--s-font-size--h1);
		line-height: var(--s-line-height--h1);
	}

	h2 {
		font-size: var(--s-font-size--h2);
		line-height: var(--s-line-height--h2);
	}

	h3 {
		font-size: var(--s-font-size--h3);
		line-height: var(--s-line-height--h3);
	}

	h4 {
		font-size: var(--s-font-size--h4);
		line-height: var(--s-line-height--h4);
	}

	p {
		font-size: var(--s-font-size--paragraph);
		line-height: var(--s-line-height--paragraph);
	}

	a {
		line-height: var(--s-line-height--paragraph);
	}
}

/*
DESKTOP FONT SIZES MEDIA QUERY
------------------------------------------------------------------
*/
@media screen and (min-width: 786px) {
	body {
		h1 {
			font-size: var(--font-size--h1);
			line-height: var(--line-height--h1);
		}

		h2 {
			font-size: var(--font-size--h2);
			line-height: var(--line-height--h2);
		}

		h3 {
			font-size: var(--font-size--h3);
			line-height: var(--line-height--h3);
		}

		h4 {
			font-size: var(--font-size--h4);
			line-height: var(--line-height--h4);
		}

		p {
			font-size: var(--font-size--paragraph);
			line-height: var(--line-height--paragraph);
		}

		a {
			line-height: var(--line-height--paragraph);
		}
	}
}

/*
RE-USABLE CLASSES
------------------------------------------------------------------
*/
.video-wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	overflow: hidden;
	z-index: -1;

	div:first-of-type {
		position: relative;
		width: 100%;
		height: 100%;
		z-index: 0;
		background: none;
		background: linear-gradient(
			65.99deg,
			var(--background-inverse) 0,
			transparent 99.04%
		);
	}

	video {
		position: absolute;
		left: 0;
		top: 0;
		z-index: -1;
		height: 100%;
		width: auto;
	}
}
