:root {
  /* Colors */
  --background: #fff;
  --background-inverse: #000;
  --text: #000;
  --text-inverse: #fff;

  /* Fonts */
  --font-primary: "Public Sans";
  --font-secondary: "DM Mono";

  /* DESKTOP: Font sizes / line-heights */
  --font-size--h1: 2.625rem;
  --line-height--h1: 3rem;

  --font-size--h2: 2.25rem;
  --line-height--h2: 2.75rem;

  --font-size--h3: 1.625rem;
  --line-height--h3: 1.75rem;

  --font-size--h4: 1.375rem;
  --line-height--h4: 1.75rem;

  --font-size--paragraph: 1rem;
  --line-height--paragraph: 1.75rem;

  /* MOBILE: Font sizes / line-heights */
  --s-font-size--h1: 2.2rem;
  --s-line-height--h1: 2.3rem;

  --s-font-size--h2: 2.1rem;
  --s-line-height--h2: 2.2rem;

  --s-font-size--h3: 1.4rem;
  --s-line-height--h3: 1.5rem;

  --s-font-size--h4: 1.125rem;
  --s-line-height--h4: 1.25rem;

  --s-font-size--paragraph: .9rem;
  --s-line-height--paragraph: 1.5rem;

  --s-font-size--label: .7rem;
  --s-line-height--label: 1.1rem;
}

/* EXAMPLE MEDIA QUERIES

TABLET:
@media screen and (min-width: 786px) {

    html {
        background: blue;
    }
}

DESKTOP:
@media screen and (min-width: 992px) {
    html {
        background: red;
    }
}
*/